@import url('https://fonts.googleapis.com/css?family=Monda|Hammersmith+One');

.header {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  background: #fbf9ec;
}

.title {
  position: relative;
  display: flex;
  justify-content: flex-end;
  color: #000;
  font-size: 4vw;
}
/* Word + SVG styles */
.word {
	position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 0.25em 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    grid-area: title;
    font-size: 17vw;
    font-weight: 400;
    color: #000;
    font-family: 'Hammersmith One', sans-serif;
}

.word .char2,
.word .char8 {
	color: #c98474;
	/*color: #874c62;*/
}

.title {
  color: #000;
  font-family: 'Monda', sans-serif;
}

.title span, .word span {
	display: block;
	position: relative;
	flex: none;
	white-space: pre;
}



.shapes {
	position: absolute;
	top: 0;
	left: 0;
  width: 100vw;
  height: 100vh;
}
