@import url('https://fonts.googleapis.com/css?family=Monda|Sintony|Raleway');

* {
  box-sizing: border-box;
}

.nav {
  height: auto;
  width: 100%;
  background-color: #494e6b;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.fixed-nav {
  position: fixed;
  top: 0;
}

.brand {
  background-color: #f7882f;
  color: #fff !important;
  width: 18%;
  text-align: center;
}

a:hover.brand {
  text-decoration: none !important;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  justify-content: space-around;
}

.nav > .nav-links > a {
  font-family: Raleway;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #f7c331;
  font-size: 2vw;
}

.nav > .nav-links > a:hover {
  text-decoration: underline;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .brand {
    width: auto;
    text-align: left;
  }

  .nav > .nav-btn {
    display: inline-block;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    font-size: 4vw;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: auto;
    overflow-y: auto;
  }
}
