@import url('https://fonts.googleapis.com/css?family=Monda|Sintony');

.wrapper {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnail {
  flex: 1 100%;
}

.right {
  flex: 1 100%;
}

.words {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 10px
}

.title {
  margin: 0px;
}

.technologies {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.project > * {
  flex: 1 100%;
}
/*
.preview {
  height: 50%;
} */

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.readMoreLess {
  height: 50px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 400px) {
  .thumbnail {
     flex: 1 1 40%;  /*grow | shrink | basis */
  }

  .thumbnail img {
      display: block;
      width: 100%;
      max-width: 350px; /*actual image width*/
      height: auto; /* maintain aspect ratio*/
      margin: auto; /*optional centering of image*/
  }

.right {
  flex: 1 1 60%;
}

}
