@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

h3 {
  margin: 0px;
}

.page-title {
  text-align: center;
  font-family: Hammersmith One;
  font-size: 6vw;
  color: #494e6b;
  padding: 10px;
  background-image: url(header.png);
  background-position: 60% 110%;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 12vw;
}

.content {
  margin: 0 10% 0 10%;
  background-color: #FFF;
}
