@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

body {
  font-family: Sintony;
  color: #888888;
}

h3 {
  margin: 0px;
}

a {
  font-family: Sintony;
  color: #ce893d;
}

strong {
    color: #ce893d;
    font-weight: bold;
    text-decoration: none;
}

.page-title {
  text-align: center;
  font-family: Hammersmith One;
  font-size: 6vw;
  color: #494e6b;
  padding: 10px;
  background-image: url(header.png);
  background-position: 50% 110%;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 12vw;
}

.content {
  margin: 0 10% 0 10%;
  background-color: #FFF;
}

.content-text {
  font-size: 80%;
  padding: 20px;
}

@media (max-width:750px) {
  .page-title {
      height: 14vw;
  }
}

@media (max-width:400px) {
  .page-title {
    background-position: 50% 100%;
      height: 16vw;
  }
}

@media (max-width:300px) {
  .page-title {
    background-position: 50% 100%;
    height: 19vw;
  }
}
